  <header>
    <h1>Cheferino's Kitchen</h1>
    <nav>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/menu.html">Menu</a></li>
        <li><a href="/order.html">Order</a></li>
        <li><a href="/reviews.html">Reviews</a></li>   
        <li class="{{#if isManagerPage}}active{{/if}}"><a href="/manager-dashboard">Manager Dashboard</a></li>
       </ul>
    </nav>
  </header>
