:root {
  --accent-color: #dc4405;
  --light-bg: #ffddcf;    
  --border-radius: 10px;
  --side-padding: 1rem;
  --gap-size: 2rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 10px;
  padding: 5rem;
} 

.menu-item {
  border: 2px solid #dc4405;
  padding: 2rem;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item.selected {
  border: 2px solid #dc4405;
  background-color: #ffddcf;
}

.qty-input {
  margin-top: 2px;
  width: 2px;
}

.page-layout {
  display: flex;
  gap: var(--gap-size);
}

.side-bar {
  flex: 1;
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: var(--side-padding);
  background-color: var(--light-bg);
}

.live-order h2 {
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 0.5rem;
}

.live-order ul {
  list-style-type: none;
  padding-left: 0;
}

.live-order li {
  margin: 0.3rem 0;
}
