#entree-table {
    border: 2px solid #dc4405;
    padding: 100px;
    background-color: #ffddcf;
}

#beverage-table {
    border: 2px solid #dc4405;
    padding: 100px;
    background-color: #ffddcf;
}

#dessert-table {
    border: 2px solid #dc4405;
    padding: 100px;
    background-color: #ffddcf;
}

.dessert-img {
    width: 100px;
    border-radius: 10px;
    margin: 2.5px 0;
}

fieldset {
    border: 2px solid #dc4405;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: 800;
    color: #dc4405;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #dc4405;
    background-color: #f8c5af;
}

nav li{
    float: left;
}

nav li a {
    display: block;
    color: #dc4405;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav li:hover:not(.active) {
    background-color: #f1bf81;
}

nav li a:active {
    color: white;
}

.active a {
    font-weight: bold;
    text-decoration: underline;
}

